<h1>Our MongoDB is Working!</h1>

Names:
<ul>
  <li *ngFor="let user of users">{{ user.name }}, {{ user.quote }}</li>
</ul>

Tasks:
<ul>
  <li *ngFor="let user of users" (ng-click)="getItem(user)">{{ user.title }}, {{ user.isDone }}</li>
</ul>

<form action="/api/tasks" method="POST">
  <input type="text" placeholder="name" name="name" ng-model="SelectedItem.name">
  <input type="text" placeholder="quote" name="quote" ng-model="SelectedItem.quote">
  <input type="text" placeholder="title" name="title" ng-model="SelectedItem.title">
  <button type="submit">Submit</button>
</form>